<div class="mdc-card app-card">
  <div class="mdc-card__primary-action mdc-ripple-upgraded mdc-ripple-upgraded--foreground-activation" tabindex="0">
    <div class="app-card__primary">
      <h3 class="mdc-typography--subtitle1 center">Use one of your security keys to sign in</h3>
    </div>
    <div class="app-card__secondary mdc-typography--body2">
      <%= form_with scope: :webauthn_credential_authentication,
        url: options_for_webauthn_credential_authentication_path,
        local: false,
        class: "credential-authentication-form",
        data: { controller: "credential-authenticator", action: "ajax:success->credential-authenticator#verifyKey" } do |form| %>

        <div class="credential-authentication-form__submit_button center">
          <%= form.submit "Use Security Key", class: "mdc-button mdc-button--raised" %>
        </div>

        <div class="credential-authentication-form__helper_text center">
          <span class="mdc-typography--body2">If it's an USB key be sure to insert it and, if necessary, tap it.</span>
        </div>
      <% end %>
    </div>
  </div>
</div>
